<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='dygraph/dygraph.min.css') }}">
  <title>APC Power Usage</title>

  <style type="text/css">
    html,
    body {
      width: 100%;
      height: 100%;
      min-height: 100%;
      margin: 0;
      overflow: hidden;
    }

    ul {
      line-height: 28px;
      font-size: 16px;
      margin: 0;
      position: absolute;
      z-index: 10;
    }

    ul>li {
      display: inline-block;
    }
  </style>
</head>

<body>
  <ul>
    <li><a href="?freq=hourly">Hourly</a></li>
    <li><a href="?freq=daily">Daily</a></li>
    <li><a href="?freq=monthly">Monthly</a></li>
  </ul>
  <div id="div_g" style="width: 100%; height: 99%;"></div>
  <script type="text/javascript" src="{{ url_for('static', filename='dygraph/dygraph.min.js') }}"></script>
  <script type="text/javascript">
    new Dygraph(
      document.getElementById("div_g"),
      "{{readings|safe}}", {
      rollPeriod: 1,
      title: "APC Power Usage",
      xlabel: "Date",
      ylabel: "Watt (W)"
    }
    );
  </script>
</body>

</html>